<div class="row">
  <div class="span12">
    <h2>Consultoría</h2>
  </div>
</div>

<div class="row">
  <div class="span4">
    <p>
      Existe un nuevo ecosistema en el
      mundo de los negocios, la
      relación entre las empresas y sus
      clientes es muy dinámica por la
      nueva Economía en la Red.
      En Divux Systems contamos con la
    </p>
  </div>

  <div class="span4">
    <p>
      experiencia y el conocimiento
      brindando el servicio de consultoría
      estratégica para acompañar en la
      definición óptima de la estrategia
      digital de tu negocio y garantizar el
      éxito de tu empresa.
    </p>
  </div>

  <div class="span4">
    <div class="illustration">
      <%= image_tag 'services/01-slide-consultoria.png' %>
    </div>
  </div>
</div>
