<div class="slide-4">
  <div class="row">
    <div class="span12">
      <h2>¿Cómo Trabajamos?</h2>
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      <h3><span class="number">5</span> Procesos de QA en Desarrollo de Software</h3>

      <p>
        Realizamos un conjunto de distintas evaluaciones en todas
        las etapas del proceso de desarrollo a fin de garantizar que
        el producto final sea de calidad.
      </p>
    </div>

    <div class="span5">
      <div class="illustration first">
        <%= image_tag 'services/how_we_work/04-slide-QA.png' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      <h3><span class="number">6</span> Puesta en producción</h3>

      <p>
        Llevamos a cabo todos los pasos necesarios
        (instalación, configuración, despliegue) para garantizar
        la puesta en producción de soluciones desarrolladas
        de manera exitosa.
      </p>
    </div>

    <div class="span5">
      <div class="illustration">
        <%= image_tag 'services/how_we_work/04-slide-produccion.png' %>
      </div>
    </div>
  </div>
</div>
