<div class="slide-3">
  <div class="row">
    <div class="span12">
      <h2>¿Cómo Trabajamos?</h2>
    </div>
  </div>

  <div class="row">
    <div class="span10 offset1">
      <h3><span class="number">4</span> Desarrollo</h3>

      <p>
        Utilizamos metodologías de gestión de proyecto y desarrollo ágil como
        Scrum y Kanban. El proceso de desarrollo y comunicación es el siguiente:
      </p>

      <div class="illustration first">
        <%= image_tag 'services/how_we_work/03-slide-desarrollo.png' %>
      </div>

      <p>
        Hacemos entregas frecuentes sometidas a validación por parte del cliente para asegurar que estén alineadas con sus
        necesidades y generar un feedback que permita satisfacer sus expectativas.
      </p>

      <p>
        Utilizamos sistemas de tracking para conocer el estado y avances del proyecto en cualquier momento.
      </p>
    </div>
  </div>
</div>
