<div class="slide-5">
  <div class="row">
    <div class="span12">
      <h2>¿Cómo Trabajamos?</h2>
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      <h3><span class="number">8</span> Apoyo continuo y mantenimiento</h3>

      <p>
        Se ofrecen servicios de soporte flexibles que cubren:
        optimización del rendimiento, mantenimiento del
        servidor, correcciones de errores, mejoras tecnológicas,
        mejoras de funciones, y más.
      </p>
    </div>

    <div class="span5 offset1">
      <div class="illustration first">
        <%= image_tag 'services/how_we_work/05-slide-apoyo-mantenimiento.png' %>
      </div>
    </div>
  </div>
</div>
