<div class="slide-2">
  <div class="row">
    <div class="span12">
      <h2>¿Cómo Trabajamos?</h2>
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      <h3><span class="number">3</span> Diseño y prototipo</h3>

      <p>
        Los prototipos y el diseño gráfico son el núcleo de esta fase
        donde se elaboran wireframes (bocetos) con la interfaz y
        el "look and feel" del producto, que luego son
        transformados en prototipos que permiten tener una
        experiencia más cercana al usuario.
      </p>
    </div>

    <div class="span5">
      <div class="illustration first">
        <%= image_tag 'services/how_we_work/02-slide-diseno.png' %>
      </div>
    </div>
  </div>
</div>
