<div class="slide-1">
  <div class="row">
    <div class="span12">
      <h2>¿Cómo Trabajamos?</h2>
    </div>
  </div>

  <div class="row">
    <div class="span6 offset1">
      <h3><span class="number">1</span> Identificación de la necesidad</h3>

      <p>
        Hacemos un levantamiento de las necesidades en materia
        de movilidad que tienen la empresa.
      </p>
    </div>

    <div class="span4">
      <div class="illustration first">
        <%= image_tag 'services/how_we_work/01-slide-identificacion.png' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6 offset1">
      <h3><span class="number">2</span> Planificación</h3>

      <p>
        Realizamos una investigación y análisis profundo de las
        necesidades y objetivos de cada proyecto, definiendo su
        visión, requerimientos y formando la base y diseño para la
        estructura del mismo.
      </p>
    </div>

    <div class="span4">
      <div class="illustration">
        <%= image_tag 'services/how_we_work/01-slide-planificacion.png' %>
      </div>
    </div>
  </div>
</div>
