<div class="row">
  <div class="span12">
    <h2>Aplicaciones Móviles Especializadas</h2>
  </div>
</div>

<div class="row">
  <div class="span8">
    <p>
      Ofrecemos toda nuestra experiencia en movilidad para garantizar la puesta en producción
      de aplicaciones móviles especializadas que responden a los requerimientos de todos los
      sectores. Nuestras soluciones brindan una mejor experiencia para los usuarios y aprovechan
      las capacidades de los diferentes dispositivos (smartphones, tablets) y plataformas móviles.
    </p>

    <p>
      Dependiendo de las necesidades y requerimientos del cliente, desarrollamos 3 tipos de
      aplicaciones:
    </p>
  </div>

  <div class="span4">
    <div class="illustration">
      <%= image_tag 'services/02-slide-aplicaciones-moviles.png' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Nativas</h3>

    <p>
      Aplicaciones diseñadas y construidas para
      las diferentes plataformas como Android,
      iOS, BlackBerry que sólo pueden ser
      instaladas en dispositivos que soporten
      dichas plataformas, pero que permiten
      explotar todas las capacidades del
      dispositivo, permitiendo desarrollar
      aplicaciones robustas y más eficientes.
    </p>
  </div>

  <div class="span4">
    <h3>Web Móvil</h3>

    <p>
      Aplicaciones para dispositivos móviles
      utilizadas a través de (Firefox, Chrome,
      Opera, Google Android, Safari, etc) lo que
      permite una mayor accesibilidad, pero al
      mismo tiempo restricción de algunas de las
      capacidades del dispositivo.
    </p>

    <h3>Híbridas</h3>

    <p>
      Combinan tecnologías de aplicaciones web
      móvil y nativas para obtener lo mejor de
      cada aplicación.
    </p>
  </div>

  <div class="span4">
    <h3>Otras Apps</h3>

    <ul>
      <li>
        Aplicaciones móviles para el uso de
        tablets como apoyo a vendedores.
      </li>
      <li>
        Aplicaciones móviles para el uso de
        tablets en labores operativas.
      </li>
    </ul>
  </div>
</div>
