<div class="row">
  <div class="span12">
    <h2>Desarrollo Web</h2>
  </div>
</div>

<div class="row">
  <div class="span4">
    <p>
      En Divux desarrollamos soluciones como:
    </p>

    <ul>
      <li>Aplicaciones Web.</li>
      <li>Software de comercio electrónico.</li>
      <li>Configuración y administración de servidores Web</li>
      <li>Diseño Web: Contempla aspectos de navegabilidad,
        usabilidad, arquitectura de la información e interactividad
        del software y aplicaciones web.</li>
    </ul>
  </div>

  <div class="span8">
    <div class="illustration">
      <%= image_tag 'services/03-slide-desarrollo-web.png' %>
    </div>
  </div>
</div>
