<div class="services">
  <div class="header">
    <div class="container">
      <h1>Servicios</h1>
    </div>
  </div>

  <div class="tabbable">
    <div class="container">
      <div class="row">
        <div class="span4 active">
          <div class="service">
            <%= link_to '&nbsp'.html_safe, '#service-consulting', class: 'consulting active', data: { toggle: :tab } %>
            <h2>Consultoría</h2>
          </div>
        </div>

        <div class="span4">
          <div class="service">
            <%= link_to '&nbsp'.html_safe, '#service-mobile-apps', class: 'services', data: { toggle: :tab } %>
            <h2>Aplicaciones Móviles</h2>
          </div>
        </div>

        <div class="span4">
          <div class="service">
            <%= link_to '&nbsp'.html_safe, '#service-products', class: 'products', data: { toggle: :tab } %>
            <h2>Desarrollo Web</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="service-detail">
      <div class="container tab-content">
        <div class="tab-pane active" id="service-consulting">
          <%= render partial: 'consulting' %>
        </div>
        <div class="tab-pane" id="service-mobile-apps">
          <%= render partial: 'mobile_apps' %>
        </div>
        <div class="tab-pane" id="service-products">
          <%= render partial: 'products' %>
        </div>
      </div>
    </div>
  </div>

  <div class="digital-marketing">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Plataforma de Marketing Digital</h2>

          <p>
            En Divux no solo utilizamos y asesoramos a nuestros clientes en cómo hacer más efectivas sus estragias de
            marketing digital, sino desarrollamos plataformas de Marketing Digital y Social Media personalizadas a las
            necesidades de cada cliente y nicho particular.
          </p>
          
          <%= image_tag 'services/img-marketing.png' %>
        </div>
      </div>
    </div>
  </div>

  <div class="how-we-work">
    <a name="how-we-work"></a>

    <div class="container">

      <div id="how-we-work-carousel" class="carousel slide">
        <div class="carousel-inner">
          <% 1.upto(5) do |index| %>
            <div class="<%= 'active' if index == 1 %> item">
              <%= render partial: "how_we_work_#{index}" %>
            </div>
          <% end %>
        </div>

        <a class="carousel-control left" href="#how-we-work-carousel" data-slide="prev">
          <%= image_tag 'services/how_we_work/img-arrow-left.png', alt: '&lsaquo;' %>
        </a>
        <a class="carousel-control right" href="#how-we-work-carousel" data-slide="next">
          <%= image_tag 'services/how_we_work/img-arrow.png', alt: '&rsaquo;' %>
        </a>
        
      </div>

    </div>
  </div>
</div>
