<div class="job-detail">
  <div class="header">
    <div class="container">
      <h1>Empleo</h1>
    </div>
  </div>

  <div class="container">
    <div class="span11">
      <p class="title">
        Buscamos personas jóvenes, con deseo de aprender e innovar para ser parte de un equipo de alto nivel técnico y con grandes perspectivas de crecimiento y desarrollo.
      </p>
    </div>
    <% @jobs.each do |job| %>
      <div class="span5">
        <h4><%= job.title %></h4>
        <% if job.id == 2 %>
          <%= image_tag 'portfolio/ico-movil.png' %>
        <% end %>
        <%= image_tag 'portfolio/ico-web.png' %>
        <p><%= simple_format job.description %></p>
        <p>Envíanos tu curriculum a: <%= mail_to 'reclutamiento@divux.com' %></p>
      </div>
    <% end %>
  </div>
</div>