<div class="home">

  <div class="featured">
      <div id="header-carousel" class="carousel slide" data-interval="2000">
          <div class="carousel-inner">
            <div class="item active">
              <div class="header-item header-1">
                  <div class="info info-1">
                
                  </div>
              </div> 
            </div>
            <div class="item">
              <div class="header-item header-2">
                <div class="info info-2">
                  </div>
              </div> 
            </div>
             <div class="item">
              <div class="header-item header-3">
                <div class="info info-3">
                  </div>
              </div> 
            </div>        
        </div>
      </div>
  </div>

  <div class="main-sections">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h2>Servicios</h2>

          <%= link_to '&nbsp'.html_safe, services_path, class: 'services' %>

          <p>
            Ofrecemos soluciones que se adaptan a
            las necesidades teconológicas de tu
            empresa.
          </p>
        </div>

        <div class="span4">
          <h2>Productos</h2>

          <%= link_to '&nbsp'.html_safe, products_path, class: 'products' %>

          <p>
            Construimos herramientas para el
            desarrollo de prototipos en Android
            y HTML5 (MoB).
          </p>
        </div>

        <div class="span4">
          <h2>¿Cómo trabajamos?</h2>

          <%= link_to '&nbsp'.html_safe, services_path(anchor: 'how-we-work'), class: 'how-we-work' %>

          <p>
            Desde la identificación de la necesidad
            hasta la puesta en producción y el
            posterior mantenimiento.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h2>Nuestra Experiencia</h2>

          <p>
            Hemos desarrollado soluciones complejas y simples para pequeñas y grandes empresas en sectores como: consumo masivo, comercio, telecom, público, educativo, entre otros.
          </p>
        </div>

    <div class="span8">
      <div id="our-experience-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="portfolio-item">
                <%= link_to '&nbsp'.html_safe, portfolio_cnti_path, class: 'image cnti' %>
            </div>    
            <div class="portfolio-item">
                <%= link_to '&nbsp'.html_safe, portfolio_shick_path, class: 'image shick' %>
            </div>
          </div>
          <div class="item">
            <div class="portfolio-item">
              <%= link_to '&nbsp'.html_safe, portfolio_chacao_path, class: 'image chacao' %>
            </div>
          </div>
        </div>
        <a class="carousel-control left" href="#our-experience-carousel" data-slide="prev">
          <%= image_tag 'home/arrow-left.png', alt: '&lsaquo;' %>
        </a>
        <a class="carousel-control right" href="#our-experience-carousel" data-slide="next">
          <%= image_tag 'home/arrow-right.png', alt: '&rsaquo;' %>
        </a>
      </div>
    </div>

      </div>
    </div>
  </div>

  <div class="clients">
    <div class="container">
      <div class="row">
        <h2>Clientes</h2>

        <div class="logos">
          <%= image_tag 'home/cnti.png' %>
          <%= image_tag 'home/educa.png' %>
          <%= image_tag 'home/genexies.png' %>
          <%= image_tag 'home/chacao.png' %>
          <%= image_tag 'home/schick.png' %>
          <%= image_tag 'home/visalock.png' %>
          <%= image_tag 'home/masisa.png' %>
          <%= image_tag 'home/infosoft.png' %>
          <%= image_tag 'home/frufru.png' %>
          <%= image_tag 'home/quantum.png' %>
           <!--
          <%= image_tag 'home/pns.jpg' %>      
          -->
        </div>
      </div>
    </div>
  </div>

</div>