<%= image_tag 'about-us/logo-cdo.png', alt: 'Compañía de las Obras (CDO) Venezuela', class: 'pull-left' %>
<%= link_to 'www.cdo.org.ve', 'http://cdo.org.ve/', class: 'main pull-right' %>

<div class="project-summary">
  <p>
    Divux forma parte de la Asociación CDO Venezuela compartiendo con otras pequeñas, medianas y grandes empresas y ONG’s un mismo criterio sobre la forma de hacer empresa y generando alianzas dentro de la red que la compone.
  </p>

  <p>
    Así mismo ha colaborado en la realización de su portal web, así como en el desarrollo de la plataforma tecnológica que apoya la realización del evento CONTACTO Venezuela.
  </p>
</div>