<%= image_tag 'about-us/logo-tp.png', alt: 'Trabajo y Persona', class: 'pull-left' %>
<%= link_to 'www.trabajoypersona.org', 'http://www.trabajoypersona.org', class: 'main pull-right' %>

<div class="project-summary">
  <p>
    En Divux afirmamos que "el trabajo es un bien del hombre, porque mediante el trabajo el hombre no solo transforma la naturaleza adaptándola a sus propias necesidades, sino que se realiza como hombre, se hace más hombre"".
  </p>

  <p>
    Compartimos esta concepción que fundamenta el trabajo que hace la Asociación Civil Trabajo y Persona en la difusión del valor de la cultura del trabajo. Por ello, en alianza con esta asociación estamos desarrollando programas de formación en emprendimiento en el sector tecnológico. Porque queremos compartir nuestro conocimiento, generando oportunidades para el desarrollo del emprendimiento en Venezuela.
  </p>
</div>

