<%= image_tag 'about-us/logo-ucab.png', alt: 'Trabajo y Persona' %>

<div class="project-summary">
  <p>
    CONVENIO UCAB<br>
    En divux estamos comprometidos con la formación de los jóvenes venezolanos, por ello tenemos un convenio de colaboración con el Centro de Investigación de Ingeniería (CIDI) de la Universidad Católica Andrés Bello, con la finalidad de formar a estudiantes en las nuevas tecnologías y darle la oportunidad de realizar proyectos de investigación en conjunto.
  </p>
</div>