<div class="about-us">
  <div class="header">
    <div class="container">
      <h1>Nosotros</h1>
    </div>
  </div>

  <div class="summary">
    <div class="container">
      <h2>¿Quiénes Somos?</h2>

      <p>
        Divux nació en el 2007 como resultado del deseo de 3 ingenieros de crear un espacio para desarrollar una
        comunidad de conocimiento que permitiera generar soluciones innovadoras a necesidades detectadas en el
        mercado en el área de las tecnologías móviles.
      </p>

      <p>
        En estos años de trayectoria hemos procurado colocar siempre a la persona y a sus necesidades en el centro
        de nuestra organización. Por eso, para nosotros es fundamental poder responder a nuestros clientes con
        soluciones innovadoras y de calidad.
      </p>

      <p>
        Deseamos ser felices a través del trabajo que hacemos, por eso disfrutarlo y educarnos mientras lo hacemos
        es lo más importante.
      </p>
    </div>
  </div>

  <div class="our-team">
    <%= image_tag 'about-us/our-team.jpg', alt: 'Nuestro Equipo' %>
  </div>
  
  <div class="executive-team">
    <div class="container">
        <h2>Equipo Directivo</h2>
        <div class="boss">
          <a href="http://www.linkedin.com/pub/carlos-alonzo/6/372/673" target="_blank" >LinkedIn Carlos 
           <i></i></a>
          <h5>Carlos Alonzo</h5>
          <p><em>Chief Operating Officer (COO)</em></p>
          <p>Ingeniero en Computación de la Universidad Simón Bolívar (2000), estudios de Postgrado en la Universidad Central de Venezuela en el área de Computación Emergente (IA), Profesor Universitario de la UCAB y tutor industrial de decenas de Pasantías Industriales en el sector.
          Gerente de Sistemas en Conectium Limited Venezuela hasta el 2006, encargado del equipo de desarrollo de software y soporte para diversos proyectos en Latam. En 2007 funda DIVUX junto a sus otros 2 socios y se encarga del área de Tecnología. 
          Actualmente diseña un Programa de Diplomado en Ingeniería de Software para Movilidad, con diversas líneas de investigación que surgen del Departamento de I+D Divux Systems.
          </p>
        </div>
         <div class="boss">
          <a href="http://www.linkedin.com/pub/angel-pacheco/8/649/878" target="_blank" >LinkedIn Ángel
          <i></i></a>
          <h5>Ángel Pacheco</h5>
          <p><em>Chief Marketing Officer (CMO)</em></p>
          <p>Ingeniero Civil de la Universidad Católica Andrés Bello y MBA de la Escuela de Organizacion Industrial, España.
          Responsable del desarrollo de negocios para el Ministerio de la Defensa en ALCATEL (1998), Key Account Manager en LogicaCMG para el Mercado de Centro América y responsable de la unidad de compras técnicas en Digitel TIM, Senior Account Manager en ZTE, responsable ejecutivo de la cuenta de CANTV en Nokia Siemens Network.
          Fundó Divux en el 2007, encargado del desarrollo de la estrategia de expansión en el Mercado Latinoamericano. Responsable de la creación y la ampliación de las alianzas estratégicas. Supervisa las operaciones de ingreso y desarrollo de negocios, así como la comercialización y la creación de alianzas.
          </p>
        </div>
         <div class="boss">
          <a href="http://www.linkedin.com/in/alejandromarius" target="_blank" >LinkedIn Alejandro
          <i></i></a>
          <h5>Alejandro Marius</h5>
          <p><em>Asesor Externo</em></p>
          <p>Magister en Sistemas e Ingeniero Electrónico USB. Experiencia en las TIC´s desde 1993, desde 2003 responsable de desarrollar negocios y start-up de empresas españolas e italianas en LATAM. Emprendedor social, Presidente y Fundador de la Asociación Civil Trabajo y Persona. Presidente de la Asociación CDO Venezuela y Miembro de la directiva de la Cámara Venezolano Italiana (CAVENIT).
          </p>
        </div>
    </div>
  </div>

  <div class="foundations">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>Todo nuestro trabajo y 
              crecimiento de nuestra 
              gente está fundamentado en:
          </h2>
        </div>

        <div class="span6">
          <%= image_tag 'about-us/img-zapata.png', alt: 'Responsabilidad, Solidaridad, Compromiso, Honestidad, Compañerismo' %>
        </div>
      </div>
    </div>
  </div>

  <div class="social-responsibility">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h2>Responsabilidad Social</h2>

          <p>
            Para nosotros la Responsabilidad
            Social es un pilar fundamental de
            nuestra empresa, no concebimos
            nuestro trabajo sin reconocernos
            responsables por el impacto que
            nuestra empresa tiene en la
            construcción de una mejor sociedad
            y del bien común.
          </p>
        </div>

        <div class="span8">
          <div class="project">
            <div id="contact-carousel" class="carousel slide">
              <div class="carousel-inner">
                <% 1.upto(3) do |index| %>
                  <div class="<%= 'active' if index == 1 %> item">
                    <%= render partial: "company_#{index}" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="arrows pull-right">
            <a class="carousel-control left" href="#contact-carousel" data-slide="prev">
              <%= image_tag 'about-us/arrow-left.png', alt: '&rsaquo;' %>
            </a>
            <a class="carousel-control right" href="#contact-carousel" data-slide="next">
              <%= image_tag 'about-us/arrow-right.png', alt: '&rsaquo;' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
