<div class="header">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="title">
          <h1>Chacao</h1>
        </div>
      </div>

      <div class="span7">
        <%= image_tag 'portfolio/grua-completa.png', class: 'crane' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span5">
      <p>
        Hemos prestado asesoría y servicios, conjuntamente con nuestro aliado estratégico Kavanayen, para llevar a cabo el desarrollo de su portal móvil (Chacao Móvil) y el portal de Facturación en Línea. 
      </p>
      <p>
        Ambos proyectos enmarcados dentro de lo que se conoce como Gobierno Electrónico buscan facilitar a los ciudadanos del municipio el acceso a la información para la facturación de sus impuestos.
      </p>
      
      <%= image_tag 'portfolio/ico-web.png' %>
      <%= image_tag 'portfolio/ico-movil.png' %>
      <%= image_tag 'portfolio/ico-tablet.png' %>
    </div>
    <div class="span7">
      <%= image_tag 'portfolio/img-phone-chacao.png' %>
    </div>
  </div>
</div>