<div class="header">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="title">
          <h1>CNTI</h1>
        </div>
      </div>

      <div class="span7">
        <%= image_tag 'portfolio/grua-completa.png', class: 'crane' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p>
    DIVUX ha trabajado y apoyado al CNTI en el Proyecto de Interoperabilidad en Venezuela, ofreciendo nuestro servicios en el área con el  propósito de colaborar en la implementación del Decreto-ley de Interoperabilidad.
  </p>
  <p>
    Adicionalmente, hemos colaborado con la consultoria para la definición y construcción de portales de Gobierno En Línea, siempre con el espíritu de contribuir en la mejora de los servicios ofrecidos por el Estado hacia los Ciudadanos.
  </p>
  
  <%= image_tag 'portfolio/img-graphic-cnti.png' %>
</div>