<div class="header">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="title">
          <h1>Shick</h1>
        </div>
      </div>

      <div class="span7">
        <%= image_tag 'portfolio/grua-completa.png', class: 'crane shick' %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span5">
      <p>
        La aplicación móvil desarrollada para la marca Shick es un ejemplo de cómo hacer uso de dispositivos móviles (tablets Android) en campañas publicitarias mediante la creación de un juego de azar donde los clientes pueden ganar premios.
      </p>
      
      <%= image_tag 'portfolio/ico-tablet.png' %>
    </div>
    <div class="span6">
      <%= image_tag 'portfolio/img-tablet-shick.png' %>
    </div>
  </div>
</div>