<div class="portfolio">
  <div class="header">
    <div class="container">
      <h1>Experiencia</h1>
    </div>
  </div>

  <div class="projects">
    <div class="container">

      <div class="row">
        <div class="span4">
          <div class="portfolio-item">
            <%= link_to '&nbsp'.html_safe, portfolio_chacao_path, class: 'image chacao' %>
          </div>
        </div>

        <div class="span4">
          <div class="portfolio-item">
            <%= link_to '&nbsp'.html_safe, portfolio_shick_path, class: 'image shick' %>
          </div>
        </div>

        <div class="span4">
          <div class="portfolio-item">
            <%= link_to '&nbsp'.html_safe, portfolio_cnti_path, class: 'image cnti' %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="our-scope">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h2>Nuestro Alcance</h2>

          <p>
            Nuestros productos y servicios han sido diseñados para llegar a diferentes culturas, esto nos ha permitido tener una presencia Internacional. Contamos con un equipo creativo e innovador capacitado continuamente en las nuevas tendencias de tecnología. 
          </p>
        </div>

        <div class="span8">
          <%= image_tag 'portfolio/scope/img-map.png' %>
        </div>
      </div>
    </div>
  </div>

</div>
