<div class="portfolio-show">
  
  <div class="tab-content">
    <div class="tab-pane" id="portfolio-chacao">
      <%= render partial: 'chacao' %>
    </div>
    <div class="tab-pane active" id="portfolio-shick">
      <%= render partial: 'shick' %>
    </div>
    <div class="tab-pane" id="portfolio-cnti">
      <%= render partial: 'cnti' %>
    </div>
  </div>
  
  <div class="companies">
    <div class="container">

      <div class="row">
        <div class="span3">
          <div class="portfolio-item mini">
            <%= link_to '&nbsp'.html_safe, '#portfolio-chacao', class: 'image chacao', data: { toggle: :tab } %>
          </div>
        </div>

        <div class="span3">
          <div class="portfolio-item mini">
            <%= link_to '&nbsp'.html_safe, '#portfolio-shick', class: 'image shick active', data: { toggle: :tab } %>
          </div>
        </div>

        <div class="span3">
          <div class="portfolio-item mini">
            <%= link_to '&nbsp'.html_safe, '#portfolio-cnti', class: 'image cnti', data: { toggle: :tab } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
