<div class="contact">
  <div class="header">
    <div class="container">
      <h1>Contactos</h1>
    </div>
  </div>

  <div class="summary">
    <div class="container">
      <h2>Para comunicarte con nosotros</h2>

      <p>
        Av. Rómulo Gallegos con Calle el Carmen, Centro Dos Caminos, piso 8, oficina 8-D. Caracas. Venezuela.<br>
        / Teléfonos: (+58) 212 238.07.80 / Email: <a class="mail" href="mailto:info@divux.com">info@divux.com</a><br>
        <strong>Si te interesa mas información sobre nuestros productos y servicios: <a class="mail" href="mailto:servicios@divux.com">servicios@divux.com</a></strong>
      </p>

       <h2>Síguenos en</h2>

      <div class="syndication">
        <%= link_to '&nbsp;'.html_safe, 'https://www.facebook.com/DivuxSystems', class: 'facebook', :target => '_blank' %>
        <%= link_to '&nbsp;'.html_safe, 'https://twitter.com/DivuxVe', class: 'twitter', :target => '_blank' %>
        <%= link_to '&nbsp;'.html_safe, 'http://www.linkedin.com/company/695479', class: 'linkedin', :target => '_blank' %>
     </div>
    </div>
  </div>
