<div class="products">
  <div class="header">
    <div class="container">
      <h1>Productos</h1>
    </div>
  </div>

  <div class="product">
    <div class="container">

      <div class="row">
        <div class="span8">
          <h2>MoB</h2>

          <p>
            Ofrecemos una aplicación web que permite el diseño y desarrollo de
            prototipos de aplicaciones móviles para las plataformas Android y
            HTML5 mediante cinco pasos:
          </p>

          <p>
            Especificación, diseño, creación de pantallas, navegación y generación
            del prototipo. Diseñada para el entrenamiento de los desarrolladores
            novatos mediante la técnica del Scaffolding.
          </p>
        </div>

        <div class="span4">
          <%= image_tag 'products/logo-mob.png' %>
        </div>
      </div>

      <div class="demo">
        <%= image_tag 'products/img-laptop.png' %>
      </div>
    </div>
  </div>
</div>
