<!DOCTYPE html>
<html>
<head>
  <title>Divux Systems</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="layout-header">
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag 'layout/logo-divux-nav.png' %>
      <% end %>

      <ul class="nav nav-pills pull-right hidden-tablet hidden-phone">
        <li><%= link_to 'Nosotros',  company_path, class: menu_item_class(:company) %></li>
        <li><%= link_to 'Servicios', services_path, class: menu_item_class(:services) %></li>
        <li><%= link_to 'Productos', products_path, class: menu_item_class(:products) %></li>
        <li><%= link_to 'Experiencia', portfolio_index_path, class: menu_item_class(:portfolio) %></li>
        <li><%= link_to 'Contactos', contact_index_path, class: menu_item_class(:contact) %></li>
      </ul>

      <div class="btn-group pull-right hidden-desktop">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">Menú <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Nosotros',  company_path, class: menu_item_class(:company) %></li>
          <li><%= link_to 'Servicios', services_path, class: menu_item_class(:services) %></li>
          <li><%= link_to 'Productos', products_path, class: menu_item_class(:products) %></li>
          <li><%= link_to 'Experiencia', portfolio_index_path, class: menu_item_class(:portfolio) %></li>
          <li><%= link_to 'Contactos', contact_index_path, class: menu_item_class(:contact) %></li>    
        </ul>
     </div>
    </div>
  </div>

  <%= yield %>
  
  <div class="layout-footer">
    <div class="border">
    </div>
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="jobs">
            <h3>Únete a nuestro equipo</h3>
            <h4 class="title">Buscamos:</h4>

            <% Job.limit(2).each do |job| %>
              <div class="job">
                <h4><%= job.title %></h4>

                <p><%= job.summary %></p>

                <%= link_to '', jobs_index_path %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="span4">
          <div class="syndication">
            <%= link_to '&nbsp;'.html_safe, 'https://www.facebook.com/DivuxSystems', class: 'facebook', :target => '_blank' %>
            <%= link_to '&nbsp;'.html_safe, 'https://twitter.com/DivuxVe', class: 'twitter', :target => '_blank' %>
            <%= link_to '&nbsp;'.html_safe, 'http://www.linkedin.com/company/695479', class: 'linkedin', :target => '_blank' %>
          </div>

          <% Tweet.last(2).each do |tweet| %>
            <div class="latest-tweet">
              <div class="tweet">
                <%= tweet.content %>
              </div>
            </div>
          <% end %>

        </div>
        <div class="span4">
          <ul class="nav">
            <li><%= link_to '/ Nosotros',  company_path %></li>
            <li><%= link_to '/ Servicios', services_path %></li>
            <li><%= link_to '/ Productos', products_path %></li>
            <li><%= link_to '/ Experiencia', portfolio_index_path %></li>
            <li><%= link_to '/ Empleo', jobs_index_path %></li>
            <li><%= link_to '/ Contactos', contact_index_path %></li>
            <li class="mail"><%= mail_to 'info@divux.com' %></li>
          </ul>

          <div class="copyright">
            <p>
              &copy; <%= Time.now.year %> - DIVUX SYSTEMS, C.A.<br/>
              RIF J-29546313-8
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41205244-3', 'divux.com');
  ga('send', 'pageview');

</script>

</body>
</html>
